<section class="card top-rank">
  <h3> Top 10 địa điểm được yêu thích nhất </h3>
  <ul class="list-group">
    <li v-for="location in TopLocation" class="list-group-item location-row">
      <img :src="require('../../../assets/img/location/'+location.properties.imgName)" class="d-block w-100 location-img"
          alt="test">
      <div class="col-8">
        <h4 class="card-title">{{location.properties.title}}</h4>
        <div class="pt-15">
          <div>
            <span class='card-text'>3.0</span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span>&nbsp;(3)</span>
          </div>
          <!-- <div class="pt-15">
            <i class="fas fa-map-marker-alt" style='color: red'></i>
            <strong> &nbsp; Ngo 144, Xuan Thuy, Ha Noi</strong>
          </div> -->
        </div>
      </div>

    </li>

  </ul>
</section>
