<div class="accordion" id="accordion">
    <div class="card card-default">
        <div class="card-header">
            <h4 class="card-title m-0">
                <strong><font color="green">
                    THÔNG BÁO - HƯỚNG DẪN</font></strong>
            </h4>
        </div>
        
            <div class="card-body">
                <h4>Trường Đại học Công nghệ</h4></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="tabbable">
                <div class="tab-content">
                     
    <ul>
    <li><strong><a href="https://www.youtube.com/channel/UCGweoAectHnrvkiQtghsTOg?sub_confirmation=1" target="_blank"><font color="green">(Video) Hướng dẫn sử dụng Cổng thông tin đào tạo - Đăng ký học</font></a><a href="http:/bit.ly/vnu-indoor-map"><img src="http://www.vnu.edu.vn/home/images/icon_new1.gif" alt="" width="31" height="15"></a></strong></li>
    <li><a href="https://www.youtube.com/channel/UCGweoAectHnrvkiQtghsTOg?sub_confirmation=1" target="_blank"><font color="green">(Video) Bài giảng môn Tin học cơ sở</font>&nbsp;</a><strong>&nbsp;|&nbsp;</strong><a href="https://sinhvienvnu.edu.vn/hoc-lieu/bai-giang-va-hoc-lieu-mon-tin-hoc-co-so" target="_blank"><font color="green">Câu hỏi ôn tập</font></a></li>
    <li><a href="https://sinhvienvnu.edu.vn/video/ky-nang-hoc-dai-hoc-hieu-qua" target="_blank"><font color="green">Kỹ năng học tập hiệu quả ở bậc đại học</font>&nbsp;</a></li>
    <li><a href="https://youtu.be/ZabYHps4huI" target="_blank"><font color="green">(Video) Hướng dẫn đăng ký học bổng</font></a></li>
    <li><a href="https://sinhvienvnu.edu.vn/video/videoanh-le-trao-hoc-bong-yamada-2017-2018" target="_blank"><font color="green">[Video/Ảnh]Lễ trao học bổng Yamada 2018</font></a></li>
    </ul>
    <h4>Cổng thông tin dành cho sinh viên đã tốt nghiệp</h4>
    <ul>
    <li><a href="http://svtotnghiep.daotao.vnu.edu.vn" target="_blank"><font color="green">http://svtotnghiep.daotao.vnu.edu.vn</font></a></li>
    </ul>
    
    
                    <div style="border-bottom:dotted 1px #ccc;margin-bottom:10px;margin-top:10px"></div>
    
                        <div id="retab1" class="tab-pane active">
                            <p>- Thời gian đăng ký&nbsp; môn thi trực tuyến: từ 25/11/2019 - 1/12/2019.</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>