<div id="addTermModal" tabindex="-1" role="dialog" class="modal fade bd-example-modal-lg">
  <div class="modal-dialog modal-lg" role="document">
    <section class="card modal-content">
      <header class="card-header">
        <h2 class="card-title">THÊM HỌC KÌ </h2>
      </header>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Học kì <span class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-tasks"></i>
                </span>
              </span>
              <input class="form-control mb-6" v-model="term.name">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Thời gian bắt đầu <span
              class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-calendar-alt"></i>
                </span>
              </span>
              <input type="date" class="form-control" v-model="term.startTime">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Thời gian kết thúc <span
              class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-calendar-alt"></i>
                </span>
              </span>
              <input type="date" class="form-control" v-model="term.endTime">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Ngày bắt đầu đăng kí <span
              class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-calendar"></i>
                </span>
              </span>
              <input type="date" class="form-control" v-model="term.registSTime">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Ngày kết thúc đăng kí <span
              class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-calendar"></i>
                </span>
              </span>
              <input type="date" class="form-control" v-model="term.registETime">
            </div>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <div class="row justify-content-end">
          <div class="col-sm-9">
            <button class="btn btn-primary" id="submit" @click="addNewTerm">Thêm mới</button>
            <button type="reset" class="btn btn-default" @click="resetInput">Reset</button>
          </div>
        </div>
      </footer>
    </section>
  </div>
</div>
