<div id="addRoomModal" tabindex="-1" role="dialog" class="modal fade bd-example-modal-lg">
  <div class="modal-dialog modal-lg" role="document">
    <section class="card modal-content">
      <header class="card-header">
        <h2 class="card-title">THÊM PHÒNG THI</h2>
      </header>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Tên phòng <span class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-home"></i>
                </span>
              </span>
              <input list="room.name" type="text" class="form-control" v-model="room.name">
              <datalist id="room.name">
              <option value="101-G2"></option><option value="102-G2"></option><option value="103-G2"></option><option value="107-G3"></option><option value="201-G2"></option><option value="202-G2"></option><option value="203-G2"></option><option value="204-G2"></option><option value="206-G2"></option><option value="207-G2"></option><option value="208-G2"></option><option value="301-GD2"></option><option value="303-GD2"></option><option value="306-GD2"></option><option value="307-GD2"></option>
              </datalist>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Địa chỉ <span class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-heart"></i>
                </span>
              </span>
              <input list="room.address" type="text" class="form-control" v-model="room.address">
              <datalist id="room.address">
              <option value="Nhà GD2"></option>
              <option value="Nhà G2"></option>
              <option value="Nhà E3"></option>
              <option value="Nhà G3"></option>
            </datalist>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Số máy tính <span class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-laptop"></i>
                </span>
              </span>
              <input type="number" class="form-control" v-model="room.computerQuantity">
            </div>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <div class="row justify-content-end">
          <div class="col-sm-9">
            <button class="btn btn-primary" id="submit" @click="addNewRoom">Thêm mới</button>
            <button type="reset" class="btn btn-default" @click="resetInput">Reset</button>
          </div>
        </div>
      </footer>
    </section>
  </div>
</div>
