<div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
  <div class="form-group row"><label
      class="col-sm-3 control-label text-sm-right pt-2">Học kì</label>
    <div class="col-sm-4"><select id="" title="Please select at least one company"
        required="required" class="form-control" v-model="termSelect">
        <option v-for="(item, index) in TermList" :key="index" :value="item._id">{{item.name}}</option>
      </select></div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="mb-3">
        <a v-if="termSelect" id="addTermClassModalBtn" class="mb-1 mt-1 mr-1 modal-sizes btn btn-primary" href="#addTermClassModal" data-toggle="modal"
          data-target="#addTermClassModal">Thêm môn học <i class="fas fa-plus"></i></a>
      </div>
    </div>
    
    <div class="col-lg-6">
      <div id="datatable-editable_filter" class="dataTables_filter"><label><input type="search"
            class="form-control pull-right" placeholder="Search..." aria-controls="datatable-editable"
            v-model="searchInput"></label>
      </div>
    </div>
  </div>
  <div v-if="termSelect" class="table-responsive">
    <table class="table table-bordered table-responsive-lg table-striped mb-0 dataTable no-footer" role="grid">
      <thead>
        <tr role="row" style="text-align: center;">
          <th v-for="(Field, index) in Fields" :key="index" class="sorting_asc" tabindex="0"
            aria-controls="datatable-editable" aria-sort="ascending"
            aria-label="Rendering engine: activate to sort column descending">
            {{Field}}</th>
        </tr>
      </thead>
      <tbody>
        <TableRow v-for="(TermSubject,index) in TermSubStuSearch" :key="index" :TermSubject="TermSubject" :index="index" :TermList="TermList" :SubjectList="SubjectList"
          @deleteSubject="deleteSubject(index)" />
      </tbody>
    </table>
  </div>
</div>
