<div>
  <section class="card">
    <header class="card-header">
      <div class="card-actions">
        <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
        <a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>
      </div>

      <h2 class="card-title">QUẢN LÝ HỌC KÌ</h2>
    </header>
    <div class="card-body">
      <TableTerm :TermList="TermList"/>
    </div>
  </section>

  <section class="card">
    <header class="card-header">
      <div class="card-actions">
        <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
        <a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>
      </div>

      <h2 class="card-title">Quản lý môn học trong học kì</h2>
    </header>
    <div class="card-body">
      <TableTermClass :TermSubStuList="TermSubStuList" :TermList="TermList" :SubjectList="SubjectList" @termSelectChange="termSelectChange"/>
    </div>
  </section>

  <AddTermModal @addTerm="addTerm"/>
  <AddTermClassModal v-if="currentTerm" :SubjectList="SubjectList" :currentTerm="currentTerm" @addTermClass="addTermClass"/>
</div>
