<div id="addTermClassModal" tabindex="-1" role="dialog" class="modal fade bd-example-modal-lg">
  <div class="modal-dialog modal-lg" role="document">
    <section class="card modal-content">
      <header class="card-header">
        <h2 class="card-title">Thêm môn học trong học kì </h2>
      </header>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Chọn môn học <span class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-tasks"></i>
                </span>
              </span>
              <select class="form-control mb-6" v-model="subjectID">
                <option v-for="(item, index) in SubjectList" :key="index" :value="item._id">{{item.name}}</option>
              </select>
            </div>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Mã môn học</label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-tasks"></i>
                </span>
              </span>
              <input class="form-control mb-6" disabled v-model="subjectCode">
            </div>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <div class="row justify-content-end">
          <div class="col-sm-9">
            <button class="btn btn-primary" id="submit" @click="addNewTermClass">Thêm mới</button>
            <button type="reset" class="btn btn-default" @click="resetInput">Reset</button>
          </div>
        </div>
      </footer>
    </section>
  </div>
</div>
