.find-round {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: white;
}

.location-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.75em;
}

.checked {
    color: orange;
  }
  
  .review-block-description{
      font-size:13px;
  }

  .flex {
      display: flex;
  }

  .pt-15 {
      padding-top: 15px;
  }

  .star-report {
      margin: 10px 0    ;
  }