<section class="card">
  <header class="card-header">
    <h2 class="card-title">Chọn thông tin</h2>
  </header>
  <div class="card-body">
    <div class="form-group row">
      <label class="col-sm-3 control-label text-sm-right pt-2">Học kì</label>
      <div class="col-sm-4">
        <select id="" class="form-control" title="Please select at least one company" v-model="termSelect">
          <option v-for="term in TermList" :value="term._id">{{term.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label text-sm-right pt-2">Môn thi</label>
      <div class="col-sm-4">
        <select class="form-control" title="Please select at least one company" v-model="termSubStuSelect">
          <option v-for="termSubStu in TermSubStuList" :value="termSubStu._id">{{termSubStu.subjectName}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label text-sm-right pt-2">Ca thi</label>
      <div class="col-sm-4">
        <select id="" class="form-control" title="Please select at least one company" v-model="shiftSelect">
          <option v-for="shift in ShiftListFilter" :value="shift">{{shift.room}}-{{shift.shiftExam}}-{{shift.time}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <!----------------------------------------------------->

  <div class="card">
    <header class="card-header">
      <h2 class="card-title">IN DANH SÁCH THI</h2>
    </header>
    <div class="card-body" id="print-area">
      <div style="margin-bottom: 20px; margin-top:0;"
        class="form-actions form-actions-padding-sm form-actions-padding-md form-actions-padding-lg">
      </div>
      <div class="print-area">
        <table style="width: 100%; border: none; border-collapse: collapse;">
          <tbody>
            <tr>
              <td style="width: 40%; text-align: center; vertical-align: top;">
                <h6 style="text-transform: uppercase; font-weight: normal; margin: 0; padding: 0; font-size: 12pt;">ĐẠI
                  HỌC QUỐC GIA HÀ NỘI</h6>
                <h6 style="text-transform:uppercase; margin: 0; padding: 0; font-size:12pt; font-weight:bold;">TRƯỜNG
                  ĐẠI HỌC CÔNG NGHỆ</h6>
              </td>
              <td style="width: 60%; text-align: center; vertical-align: top;">
                <h6 style="text-transform: uppercase; font-weight: bold; margin: 0; padding: 0; font-size: 12pt;">CỘNG
                  HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h6>
                <h6 style="margin: 0; padding: 0; font-weight: bold;">Độc lập - Tự do - Hạnh phúc</h6>
              </td>
            </tr>
          </tbody>
        </table>
        <h1
          style="text-align: center; text-transform: uppercase; font-weight: bold; font-size: 16pt; margin: 30px 0 0 0; padding: 0;">
          DANH SÁCH THI</h1>
        <h6 style="text-align: center; font-weight: bold; margin: 0; padding: 0; font-size: 14pt;">
          Ngày 12 tháng 10 năm 2019
        </h6>
        <table style="width: 70%; border: none; border-collapse: collapse; margin-top: 30px;">
          <tbody>
            <tr>
              <td>Học kì:</td>
              <td><b>19-20-HKI</b></td>
              <td>Môn thi:</td>
              <td><b>Tất cả</b></td>
            </tr>
            <tr>
              <td>Ca thi:</td>
              <td><b>Ca 1: 7h-9h</b></td>
              <td>Phòng thi:</td>
              <td><b>217-G2</b></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <br>
        <table style="border:none; width: 100%; border-collapse:collapse;">

          <tbody>
            <tr>
              <th style="border-top: 1px solid #000; border-left: 1px solid #000; text-align:center;">STT</th>
              <th style="border-top: 1px solid #000; border-left: 1px solid #000; text-align: center;">Mã số sinh viên
              </th>
              <th style="border-top: 1px solid #000; border-left: 1px solid #000; text-align: center;">Họ tên</th>
              <th style="border-top: 1px solid #000; border-left: 1px solid #000; text-align: center;">Ngày sinh</th>
              <th
                style="border-top: 1px solid #000; border-left: 1px solid #000; border-right:1px solid #000; text-align: center;">
                Lớp khóa học</th>
            </tr>
            <tr v-for="(student, index) in StudentList">
              <td style="border-top: 1px solid #000; border-left: 1px solid #000; text-align: center;">{{index+1}}</td>
              <td style="border-top: 1px solid #000; border-left: 1px solid #000;text-align: center;">&nbsp;{{student.studentID}}
              </td>
              <td style="border-top: 1px solid #000; border-left: 1px solid #000;text-align: center;">&nbsp;{{student.name}}</td>
              <td style="border-top: 1px solid #000; border-left: 1px solid #000; text-align: center;">{{student.dateOfBirth}}</td>
              <td
                style="border-top: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000; text-align: center;">
                {{student.major}}</td>
            </tr>
            <tr>
              <td
                style="border-top: 1px solid #000; border-left: 1px solid #000; border-bottom: 1px solid #000; text-align: center;">
                &nbsp;</td>
              <td style="border-top: 1px solid #000; border-left: 1px solid #000; border-bottom: 1px solid #000;">&nbsp;
              </td>
              <td style="border-top: 1px solid #000; border-left: 1px solid #000; border-bottom: 1px solid #000;">&nbsp;
              </td>
              <td
                style="border-top: 1px solid #000; border-left: 1px solid #000; border-bottom: 1px solid #000; text-align: center; ">
                &nbsp;</td>
              <!-- <td
                style="border-top: 1px solid #000; border-left: 1px solid #000; border-bottom: 1px solid #000; text-align: center;">
              </td> -->
              <td
                style="border-top: 1px solid #000; border-left: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; text-align: center; ">
                &nbsp;</td>
            </tr>
          </tbody>
        </table>
        <table style="width: 100%; border: none; border-collapse: collapse; margin-top: 30px;">
          <tbody>
            <tr>
              <td style="width: 50%; vertical-align: top; text-align: center;">
                <h6 style="font-weight: bold; margin: 0; padding: 0; font-size: 12pt; text-transform:uppercase;">Giáo
                  viên</h6>
                <p style="margin: 0; padding: 0; font-size: 11pt; font-style: italic;">(Ký và ghi rõ họ tên)</p>
                <p style="margin-top:80px;"><b>Hoàng Thị Yến</b></p>
              </td>
              <td style="width: 50%; text-align: center; vertical-align: top; ">
                <h6 style="font-size: 12pt; margin:0; padding:0;">Hà Nội, ngày ..... tháng ..... năm 2019</h6>
                <h6 style="font-weight: bold; margin: 0; padding: 0; text-transform: uppercase; font-size: 12pt;">XÁC
                  NHẬN CỦA PHÒNG ĐÀO TẠO</h6>
                <p style="font-weight: bold; margin-top: 80px;">&nbsp;</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-body" id="print-area">
      <div style="margin-bottom: 0;"
        class="form-actions form-actions-padding-sm form-actions-padding-md form-actions-padding-lg">
        <button @click="printFileButtonClick" class="btn-print-this btn btn-primary"><i class="icon-print"></i> In kết
          quả</button>
        <button @click="exportFileButtonClick" class=" btn btn-success"><i class="icon-save"></i> Xuất kết quả ra
          Word</button>
      </div>
    </div>
  </div>
</section>
