<div>
  <section class="card">
    <header class="card-header">
      <div class="card-actions">
        <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
        <a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>
      </div>

      <h2 class="card-title">QUẢN LÝ PHÒNG THI</h2>
    </header>
    <div class="card-body">
      <TableRoom :RoomList="RoomList" @reloadTable="reloadTable"/>
    </div>
  </section>
  <AddRoomModal @addRoom="addRoom"/>
</div>
