<div class="body">
  <header class="header">
    <div class="logo-container">
      <a href="/" class="logo"> <img src="@/assets/img/logo.png" width="100" height="50" alt="góc nhỏ"> </a>
      <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
        data-fire-event="sidebar-left-opened"> <i class="fas fa-bars" aria-label="Toggle sidebar"></i> </div>
    </div>
    <!-- end: search & user box -->
  </header>
  <!-- end: header -->

  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <aside id="sidebar-left" class="sidebar-left">
      <div class="sidebar-header">
       
      </div>

      <div class="nano has-scrollbar">
        <div class="nano-content" tabindex="0" style="margin-right: -17px;">
          <nav id="menu" class="nav-main" role="navigation">
            <ul class="nav nav-main">
              <li class="nav-main">
                <router-link class="nav-link" :to="{name: 'map'}">
                  <i class="fas fa-laptop" aria-hidden="true"></i>
                  <span>Bản đồ</span>
                </router-link>
              </li>
              <li class="nav-main">
                <router-link class="nav-link" :to="{name: 'map'}">
                  <i class="fas fa-check" aria-hidden="true"></i>
                  <span>Tìm quanh đây</span>
                </router-link>
              </li>
              <li class="nav-main">
                <router-link class="nav-link" :to="{name: 'top-rank'}">
                  <i class="fas fa-check" aria-hidden="true"></i>
                  <span>Top 10</span>
                </router-link>
              </li>
              <li class="nav-main">
                <a class="nav-link" @click="logout">
                  <i class="fas fa-check" aria-hidden="true"></i>
                  <span>Đăng xuất</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="nano-pane" style="display: block; opacity: 1; visibility: visible;">
          <div class="nano-slider" style="height: 20px;"></div>
        </div>
      </div>

    </aside>
    <!-- end: sidebar -->

    <section role="main" class="content-body" style="padding: 0px;">
      <!-- <header class="page-header">
        <h2>Map</h2>
      </header> -->
      <router-view />
    </section>
  </div>
</div>
