<div class="card">
  <div style="margin-bottom: 20px; margin-top:0;"
    class="form-actions form-actions-padding-sm form-actions-padding-md form-actions-padding-lg">
  </div>
  <div class="form-group row">
    <label class="col-lg-3 control-label text-lg-right pt-2">Học kì <span class="required">*</span></label>
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-tasks"></i>
          </span>
        </span>
        <select class="form-control mb-6" v-model="termSelect">
          <option v-for="item in TermList" :value="item">{{item.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div id="print-area" v-if="termSelect" class="mt-5">
    <table style="width: 100%; border: none; border-collapse: collapse;">
      <tbody>
        <tr>
          <td style="width: 40%; text-align: center; vertical-align: top;">
            <h6 style="text-transform: uppercase; font-weight: normal; margin: 0; padding: 0; font-size: 12pt;">ĐẠI HỌC
              QUỐC GIA HÀ NỘI</h6>
            <h6 style="text-transform:uppercase; margin: 0; padding: 0; font-size:12pt; font-weight:bold;">TRƯỜNG ĐẠI
              HỌC CÔNG NGHỆ</h6>
          </td>
          <td style="width: 60%; text-align: center; vertical-align: top;">
            <h6 style="text-transform: uppercase; font-weight: bold; margin: 0; padding: 0; font-size: 12pt;">CỘNG HÒA
              XÃ HỘI CHỦ NGHĨA VIỆT NAM</h6>
            <h6 style="margin: 0; padding: 0; font-weight: bold;">Độc lập - Tự do - Hạnh phúc</h6>
          </td>
        </tr>
      </tbody>
    </table>
    <h1
      style="text-align: center; text-transform: uppercase; font-weight: bold; font-size: 16pt; margin: 30px 0 0 0; padding: 0;">
      PHIẾU BÁO DỰ THI - {{termSelect.name}}</h1>
    <table style="width: 100%; border: none; border-collapse: collapse; margin-top: 30px;">
      <tbody>
        <tr>
          <td>Họ và tên:</td>
          <td><b>{{studentSelect.name}}</b></td>
          <td>Ngày sinh:</td>
          <td><b>{{studentSelect.dateOfBirth}}</b></td>
          <td>Mã sinh viên:</td>
          <td><b>{{studentSelect.studentID}}</b></td>
        </tr>
        <tr>
          <td>Chương trình đào tạo:</td>
          <td><b>{{studentSelect.classMajor}}</b></td>
          <td>Khóa học:</td>
          <td><b>{{studentSelect.major}}</b></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <br> 
    <table style="border:none; width: 100%; border-collapse:collapse;">

      <tbody>
        <tr>
          <th style="border-top: 1px solid #000; border-left: 1px solid #000; text-align:center;">STT</th>
          <th style="border-top: 1px solid #000; border-left: 1px solid #000; text-align: center;">Tên môn học</th>
          <th style="border-top: 1px solid #000; border-left: 1px solid #000; text-align: center;">Thời gian</th>
          <th style="border-top: 1px solid #000; border-left: 1px solid #000; text-align: center;">Ca thi</th>
          <th
            style="border-top: 1px solid #000; border-left: 1px solid #000; border-right:1px solid #000; text-align: center;">
            Phòng thi</th>
        </tr>
        <tr v-for="(shiftData, index) in shiftDataList">
          <td style="border-top: 1px solid #000; border-left: 1px solid #000; text-align: center;">{{index +1}}</td>
          <td style="border-top: 1px solid #000; border-left: 1px solid #000;text-align: center;">
            &nbsp;{{shiftData.subject}}</td>
          <td style="border-top: 1px solid #000; border-left: 1px solid #000;text-align: center;">
            &nbsp;{{shiftData.time}}</td>
          <td style="border-top: 1px solid #000; border-left: 1px solid #000; text-align: center;">
            {{shiftData.shiftExam}}</td>
          <td
            style="border-top: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000; text-align: center;">
            {{shiftData.room}}</td>
        </tr>
        <tr>
          <td
            style="border-top: 1px solid #000; border-left: 1px solid #000; border-bottom: 1px solid #000; text-align: center;">
            &nbsp;</td>
          <td style="border-top: 1px solid #000; border-left: 1px solid #000; border-bottom: 1px solid #000;">&nbsp;
          </td>
          <td
            style="border-top: 1px solid #000; border-left: 1px solid #000; border-bottom: 1px solid #000; text-align: center; ">
            &nbsp;</td>
          <td
            style="border-top: 1px solid #000; border-left: 1px solid #000; border-bottom: 1px solid #000; text-align: center;">
          </td>
          <td
            style="border-top: 1px solid #000; border-left: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; text-align: center; ">
            &nbsp;</td>
        </tr>
      </tbody>
    </table>


    <table style="width: 100%; border: none; border-collapse: collapse; margin-top: 30px;">
      <tbody>
        <tr>
          <td style="width: 50%; vertical-align: top; text-align: center;">
            <h6 style="font-weight: bold; margin: 0; padding: 0; font-size: 12pt; text-transform:uppercase;">SINH VIÊN
            </h6>
            <p style="margin: 0; padding: 0; font-size: 11pt; font-style: italic;">(Ký và ghi rõ họ tên)</p>
            <p style="margin-top:80px;"><b>{{studentSelect.name}}</b></p>
          </td>
          <td style="width: 50%; text-align: center; vertical-align: top; ">
            <h6 style="font-size: 12pt; margin:0; padding:0;">Hà Nội, ngày ..... tháng ..... năm 2019</h6>
            <h3 style="font-weight: bold; margin: 0; padding: 0; text-transform: uppercase; font-size: 12pt;">XÁC NHẬN
              CỦA PHÒNG ĐÀO TẠO</h3>
            <p style="font-weight: bold; margin-top: 80px;">&nbsp;</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div v-if="termSelect" style="margin-bottom: 0;"
    class="form-actions form-actions-padding-sm form-actions-padding-md form-actions-padding-lg">
    <button @click="printFileButtonClick" class="btn-print-this btn btn-primary"><i class="icon-print"></i> In kết
      quả</button>
    <button @click="exportFileButtonClick" class=" btn btn-success"><i class="icon-save"></i> Xuất kết quả ra
      Word</button>
  </div>
</div>
