<div id="addStudentModal" tabindex="-1" role="dialog" class="modal fade bd-example-modal-lg">
  <div class="modal-dialog modal-lg" role="document">
    <section class="card modal-content">
      <header class="card-header">
        <div class="card-actions">
        </div>
        <h2 class="card-title">THÊM SINH VIÊN</h2>
      </header>   
      <div class="card-body">
        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Mã sinh viên <span class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-universal-access"></i>
                </span>
              </span>             
              <input type="text" class="form-control" v-model="student.studentID">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Họ và tên <span class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-user"></i>
                </span>
              </span>             
              <input type="text" class="form-control" v-model="student.name">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Ngày sinh <span class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-calendar-alt"></i>
                </span>
              </span>
              <input type="date" class="form-control" v-model="student.dateOfBirth">
            </div>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Giới tính <span class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-heart"></i>
                </span>
              </span>
              <input type="text" class="form-control" v-model="student.sex">
            </div>
          </div>
        </div>
   
        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Khoa <span class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">   
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-tag"></i>
                </span>
              </span>
              <input list="student.major" type="text" class="form-control" v-model="student.major">
            <datalist id="student.major">
            <option value="Công Nghệ Thông Tin"></option>
            <option value="Hệ Thống Thông Tin"></option>
            <option value="Điện Tử Viễn Thông"></option>
            <option value="Vật Lý Kỹ Thuật & Công Nghệ Nano"></option>
            <option value="Viện Công Nghệ Nông Nghiệp"></option>
            <option value="Viện Công Nghệ Hàng Không Vũ Trụ"></option>
            <option value="Bộ Môn Công Nghệ Xây Dựng-Giao Thông"></option>
            <option value="Khoa Nhật"></option>
            <option value="Khoa học máy tính"></option>

            </datalist> 
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Lớp khóa học <span class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-calendar"></i>
                </span>
              </span>            
              <input type="text" class="form-control" v-model="student.classMajor">
            </div>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <div class="row justify-content-end">
          <div class="col-sm-9">
            <button class="btn btn-primary" id="submit" @click="addNewStudent">Thêm mới</button>
            <button type="reset" class="btn btn-default" @click="resetInput">Reset</button>
          </div>
        </div>
      </footer>
    </section>
  </div>
</div>
