<tr v-if="onEditing" role="row" class="odd">
  <td class="index">
    {{index}}
  </td>
  <td class="subjectID">
    <select v-model="rowData.subjectID" class="form-control mb-6">
      <option v-for="TermSubStu in TermSubStuList" :value="TermSubStu._id">{{TermSubStu.subjectName}}</option>
    </select>
  </td>

  <td class="shiftExam">
    <select class="form-control mb-6" v-model="rowData.shiftExam">
      <option value="">Choose a time</option>
      <option value="1:(7h-9h)">1:7h-9h</option>
      <option value="2:(9h-11h)">2:9h-11h</option>
      <option value="3:(13h-15h)">3:13h-15h</option>
      <option value="4:(15h-17h)">4:15h-17h</option>
    </select>
  <td class="roomID">
    <select v-model="rowData.roomID" class="form-control">
      <option v-for="Room in RoomList" :value="Room._id">{{Room.name}} - {{Room.computerQuantity}} chỗ ngồi</option>
    </select>
  </td>
  <td class="time">
    <input type="date" class="form-control input-block" v-model="rowData.time" name="time" />
  </td>
  <td class="actions text-center">
    <a class="on-editing save-row" @click="rowSaveClick" title="Lưu thông tin">
      <i class="fas fa-save"></i>
    </a>
    <a class="on-editing cancel-row" @click="rowCancelClick" title="Hủy chỉnh sửa">
      <i class="fas fa-times"></i>
    </a>
  </td>
</tr>
<tr v-else role="row" class="odd" @click="rowClick" title="Chi tiết">
  <td class="index">{{index+1}}</td>
  <td class="subjectID">{{subject}}</td>
  <td class="term">{{Shift.shiftExam}}</td>
  <td class="roomID">{{room}}</td>
  <td class="time">{{Shift.time}}</td>
  <td class="actions text-center">
    <a class="on-default edit-row" @click="rowEditClick" title="Chỉnh sửa thông tin">
      <i class="fas fa-pencil-alt"></i>
    </a>
    <a class="on-default remove-row" @click="rowRemoveClick" title="Xóa thông tin">
      <i class="far fa-trash-alt"></i>
    </a>
  </td>
</tr>
