<div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
  <div class="row">
    <div class="col-sm-6">
      <div class="mb-3">
        <a id="addToTable" class="mb-1 mt-1 mr-1 modal-sizes btn btn-primary" href="#addSubjectModal" data-toggle="modal"
          data-target="#addSubjectModal">Thêm môn học <i class="fas fa-plus"></i></a>
      </div>
    </div>
    <div class="col-lg-6">
      <div id="datatable-editable_filter" class="dataTables_filter"><label><input type="search"
            class="form-control pull-right" placeholder="Search..." aria-controls="datatable-editable" v-model="searchInput"></label>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-responsive-lg table-striped mb-0 dataTable no-footer" role="grid">
      <thead>
        <tr role="row" style = "text-align: center;">
          <th v-for="(Field, index) in Fields" :key="index" class="sorting_asc" tabindex="0"
            aria-controls="datatable-editable" aria-sort="ascending"
            aria-label="Rendering engine: activate to sort column descending">
            {{Field}}</th>
        </tr>
      </thead>
      <tbody>
        <TableRow v-for="(Subject,index) in SubjectSearch" :key="index" :Subject="Subject" :index="index"
          @deleteSubject="deleteSubject(index)" />
      </tbody>
    </table>
  </div>
</div>
