<div>
  <section class="card">
    <header class="card-header">
      <div class="card-actions">
        <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
        <a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>
      </div>

      <h2 class="card-title" style="margin: 0; padding: 0; font-weight: bold;">Môn đăng ký</h2>
    </header>
    <div class="card-body">
      <div id="datatable-editable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
        <div class="row">
          <div class="col-lg-6">
            <div class="dataTables_length" id="datatable-editable_length"></div>
          </div>
          <div class="col-lg-6">
            <div data-v-23b8ee9d="" class="input-group"></div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-striped mb-0 dataTable no-footer" id="datatable-editable"
            role="grid">
            <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1"
                  aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
                  style="width: 10px;">
                  STT
                </th>
                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 171.3333px;">
                  Tên môn học
                </th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1"
                  aria-label="Browser: activate to sort column ascending" style="width: 171.333px;">
                  Ca thi/Ngày thi
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(subjectShift, index) in subjectShiftList" :key="index" role="row" class="odd">
                <td class="sorting_1">{{index}}</td>
                <td>{{subjectShift.subjectName}}</td>
                <td><select v-if="isDisabled" disabled class="form-control mb-30 subject" @change="timeChange"
                    v-model="subjectShift.choosenShift">
                    <option v-for="(Shift, index) in subjectShift.shiftInfor" :value="Shift.shifID">{{Shift.room}} -
                      {{Shift.shiftTime}}</option>
                  </select>
                  <select v-else class="form-control mb-30 subject" @change="timeChange"
                    v-model="subjectShift.choosenShift">
                    <option v-for="(Shift, index) in subjectShift.shiftInfor" :value="Shift.shifID">{{Shift.room}} -
                      {{Shift.shiftTime}}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </section>
  </br></br></br>
  <!------------------>

  <section class="d-none">
    <header class="card-header">
      <div class="card-actions">
        <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
        <a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>
      </div>
      <h2 class="card-title" style="margin: 0; padding: 0; font-weight: bold;"> Môn thi đã đăng ký</h2>
    </header>

    <div class="card-body">
      <div id="datatable-editable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
        <div class="row">
          <div class="col-lg-6">
            <div class="dataTables_length" id="datatable-editable_length"></div>
          </div>
          <div class="col-lg-6">
            <div data-v-23b8ee9d="" class="input-group"></div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-striped mb-0 dataTable no-footer" id="datatable-editable"
            role="grid">
            <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1"
                  aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
                  style="width: 10px;">
                  STT
                </th>
                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 155px;">
                  Tên môn học
                </th>
                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 155px;">
                  Mã môn học
                </th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1"
                  aria-label="Browser: activate to sort column ascending" style="width: 171.333px;">
                  Ca thi/Ngày thi
                </th>
                <th class="sorting" rowspan="1" colspan="1" aria-label="Actions" style="width: 21.3333px;">
                  Xóa
                </th>
              </tr>
            </thead>
            <tbody>
              <tr role="row" class="odd">
                <td class="sorting_1">1</td>
                <td>Xác suất thống kê</td>
                <td>xstk-2019</td>
                <td>Ca 4: 15h-17h Ngày 24/12/2019</td>
                <td class="actions">
                  <a href="#" class="hidden on-editing save-row"><i class="fas fa-save"></i></a>
                  <a href="#" class="hidden on-editing cancel-row"><i class="fas fa-times"></i></a>
                  <a href="#" class="on-default remove-row"><i class="far fa-trash-alt"></i></a>
                </td>
              </tr>
              <tr role="row" class="odd">
                <td class="sorting_1">1</td>
                <td>Xác suất thống kê</td>
                <td>xstk-2019</td>
                <td>Ca 4: 15h-17h Ngày 24/12/2019</td>
                <td class="actions">
                  <a href="#" class="hidden on-editing save-row"><i class="fas fa-save"></i></a>
                  <a href="#" class="hidden on-editing cancel-row"><i class="fas fa-times"></i></a>
                  <a href="#" class="on-default remove-row"><i class="far fa-trash-alt"></i></a>
                </td>
              </tr>
              <tr role="row" class="odd">
                <td class="sorting_1">1</td>
                <td>Xác suất thống kê</td>
                <td>xstk-2019</td>
                <td>Ca 4: 15h-17h Ngày 24/12/2019</td>
                <td class="actions">
                  <a href="#" class="hidden on-editing save-row"><i class="fas fa-save"></i></a>
                  <a href="#" class="hidden on-editing cancel-row"><i class="fas fa-times"></i></a>
                  <a href="#" class="on-default remove-row"><i class="far fa-trash-alt"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

</div>
