<section class="card">
  <header class="card-header">
    <h2 class="card-title">QUẢN LÝ HỌC KỲ - MÔN HỌC</h2>
  </header>
  <div class="card-body">
    <div class="form-group row">
      <label class="col-sm-3 control-label text-sm-right pt-2">Học kì <span class="required">*</span></label>
      <div class="col-sm-5">
        <select v-model="termSelect" class="form-control" title="Please select at least one company" required="">
          <option v-for="term in TermList" :value="term._id" :key="term._id">{{term.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label text-sm-right pt-2">Môn học <span class="required">*</span></label>
      <div class="col-sm-5">
        <select v-model="subjectSelect" class="form-control" title="Please select at least one company" required="">
          <option v-for="termSub in TermSubStuList" :value="termSub" :key="termSub._id">{{termSub.subjectName}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card" v-if="subjectSelect">
    <header class="card-header">
      <h2 class="card-title"> Danh sách sinh viên</h2>
    </header>
    <div class="card-body">
      <div class="card-body">
        <div id="datatable-editable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
          <div class="row">
            <div class="col-sm-3">
              <div class="mb-3">
                <button ref="importExcelBtn" class="mb-1 mt-1 mr-1 modal-sizes btn btn-success"
                  @click="$refs.fileInput.click()">Import Excel <i class="fas fa-plus"></i></button>
                <input type="file" v-on:change="uploadFile" ref="fileInput" class="d-none"
                  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
              </div>
            </div>
          </div>
          <div class="table-responsive" v-if="StudentList.length">
            <table class="table table-bordered table-striped mb-0 dataTable no-footer" id="datatable-editable"
              role="grid">
              <thead>
                <tr role="row">
                  <th>STT</th>
                  <th>Mã sinh viên</th>
                  <th>Họ và tên</th>
                  <th>Ngày sinh</th>
                  <th>Lớp khóa học</th>
                  <th>Điểm giữa kì</th>
                  <th>Điểm thành phần</th>
                  <th>Đủ điều kiện đăng ký</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(Student,index) in StudentList" role="row" class="odd">
                  <td class="sorting_1">{{index+1}}</td>
                  <td>{{Student.studentID}}</td>
                  <td>{{Student.name}}</td>
                  <td>{{Student.dateOfBirth}}</td>
                  <td>{{Student.classMajor}}</td>
                  <td>{{Student.midExamPoint}}</td>
                  <td>{{Student.elementPoint}}</td>
                  <td>{{Student.examRegisAble?'':'Không'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
